---

---
<h2 class={`bg-tertiary text-primary w-[270px] h-[100px] rounded-[50%] flex flex-col -space-y-1 items-center justify-center`}> 
    <span class="text-sm">Pizzeria & Spaghetteria</span>
    <span class="uppercase text-lg">Seit 1996</span>
    <span class="text-2xl uppercase">"San Remo"</span>
</h2>

