
<div>
    <a href="/" class="flex flex-row items-center space-x-2">
        <img src="/images/pizza.png" class="w-[64px] h-[64px]" alt="Branding">
        <h2 class="font-primary text-4xl text-amber-600 dark:text-slate-50">San Remo</h2>
    </a>
</div>